<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--

-->
</style>
<link href="Css/Style_sheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" class="top_bg">
    <table width="907" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
      <td height="123" align="left" valign="middle">
        <%= image_tag "logo.png", :size => "906x78", :border => "0" %>
      </td>
      </tr>
      <tr>
        <td height="61" valign="middle" style="background:url(/assets/menubg.png) no-repeat;height:61px;">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="menu">
        <tr>
        <td width="127" height="50" align="center"><a href="index.html" >Home</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'About us', about_us_homes_path %></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'Projects', projects_homes_path %></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="http://www.jagomumbairadio.com">Radio</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="News.html">News</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="Donations.html">Donations</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'Contact us',  contact_us_homes_path %></td>
        
        </tr>
      </table>

      </td>
       </tr>
      <tr>
      <td align="center" valign="top" >
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="bottom"><%= image_tag "contbox_top.png", :size => "907x12", :border => "0" %></td>
              </tr>
              <tr>
                <td align="center" valign="top" class="contbox_mid" >
                  <table width="880px" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="head_text">ABOUT US</td>
                      </tr>
                      <tr>
                        <td class="hr" height="15px">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="cont" style="padding-top:10px;" >
                        <div style="float:right;width:110px;height:110px;"><%= image_tag "UPRA.png", :size => "100x100", :align => "right" %></div>
                        Union Park Residents Association is a voluntary organization / association of the Union Park Residents, registered with the BMC as ALM No.104, Aug 2,                         2002, as a Society with the Registrar of Societies, Registration No. 1318 dt. August 9, 2004, and with the Charities Commission, Regn. No. F-27605 DT.                         March 31, 2005.
                        <br /> <br /> 
The Union Park Residents Association is representative of a residential area comprising of 42 buildings and 8 bungalows spread over 5 lanes (Roads No. 3, 4, 5, Deccan Road and Govind Ghag Marg - Union Park Main Road).<br /> <br /> 
 <div style="float:left;width:187px;height:113px;"><%= image_tag "abt_1.jpg", :size => "177x108", :align => "left" %></div>
We have a Managing Committee of 11 members that holds monthly meetings to discuss and decide on the issues and agenda regarding various civic, traffic & environmental issues facing our residents. Annual AGMs also held regularly.<br /> <br /> 
                       

The objective of the Association is to create a clean and green environment along with improved civic amenities for our residents; besides this is a platform for our Residents to come together in harmony. Since inception the Association has worked closely with the MCGM, Police, Traffic Police, Elected Representatives resulting in better civic amenities for Union Park.

                        </td>
                      </tr>
                        <tr>
                        <td>&nbsp;</td>
                      </tr>
                        <tr>
                        <td class="head_text2">OUR MISSION</td>
                      </tr>
                      <tr>
                        <td class="hr" height="15px">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="cont">
                        <div style="float:right;width:200px;height:160px;"><%= image_tag "our_mis.jpg", :size => "180x155", :align => "right" %></div>
                        
                        We as citizens of Mumbai are responsible to continuously learn/train and prepare ourselves and other fellow-citizens to conduct ourselves suitably and to proactively assist Brihanmumbai Mahanagarpalika, the Government and other such organizations genuinely concerned with Mumbai's welfare, to develop and maintain Mumbai as a clean, modern and progressive, environmentally safe, peaceful and healthy place to live and work in. Create a movement 'Jago Mumbai' by implementing and practicing first what we preach.</td>
                    </tr>
                      
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                        <tr>
                        <td class="head_text2">How To Join</td>
                      </tr>
                      <tr>
                        <td class="hr" height="15px">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="cont">If you live here or own a business here you are a member. All residents - and that includes renters - in the Union Park area are welcome to participate. But watch out: if you are especially interested in an issue you may be asked to head a committee!</td>
                    </tr>
                    </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top"><%= image_tag "contbox_bot.png", :size => "907x12", :border => "0" %></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
           </td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
  </tr>
  <tr>
    <td class="bot_bg">&nbsp;</td>
  </tr>
</table>


<map name="Map" id="map">
  <area shape="rect" coords="227,15,313,30" href="#" />
</map>

<map name="Map2" id="map2">

  <area shape="rect" coords="2,4,38,25" href="#" />
  <area shape="rect" coords="64,3,104,24" href="#" />
  <area shape="rect" coords="131,3,168,26" href="#" />
  <area shape="rect" coords="194,1,232,27" href="#" />
  <area shape="rect" coords="251,0,311,27" href="#" />
</map>

</body>
</html>