<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--

-->
</style>
<link href="Css/Style_sheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" class="top_bg">
    <table width="907" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
      <td height="123" align="left" valign="middle">
        <%= image_tag "logo.png", :size => "906x78", :border => "0" %>
      </td>
      </tr>
      <tr>
        <td height="61" valign="middle" style="background:url(/assets/menubg.png) no-repeat;height:61px;">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="menu">
        <tr>
        <td width="127" height="50" align="center"><a href="index.html" >Home</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'About us', about_us_homes_path %></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'Projects', projects_homes_path %></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="http://www.jagomumbairadio.com">Radio</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="News.html">News</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><a href="Donations.html">Donations</a></td>
        <td width="2" align="center"><%= image_tag "sepr.png", :size => "1x30" %></td>
        <td width="127" align="center"><%= link_to 'Contact us',  contact_us_homes_path %></td>
        
        </tr>
      </table>

      </td>
       </tr>
      <tr>
      <td align="center" valign="top" >
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="bottom"><%= image_tag "contbox_top.png", :size => "907x12", :border => "0" %></td>
              </tr>
              <tr>
                <td align="center" valign="top" class="contbox_mid" >
                  <table width="880px" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                      </tr>
                      <tr>
                        <td class="hr" height="15px">&nbsp;</td>
                      </tr>                                                                                    
                    </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top"><%= image_tag "contbox_bot.png", :size => "907x12", :border => "0" %></td>
                <div id="divbox">
<div style="float:right;padding-right:25px;padding-top:50px;"><img src="images/contact_img.gif" height="256" width="210"></div>
<p class="green" style="padding-top:10px;"><b>UNION PARK RESIDENTS ASSOCIATION</b></p>
<p class="content"><b>Contact Person :</b><br> <span class="names"><b>Mr. Navin Chandra,</b></span> <br> Chairman, Community Development Projects<br> <b>Project Office :</b><br> Sealine CHS Ltd., 16 Union Park,  Khar (West), Mumbai  400 052. (INDIA)<br> <b>Tel.: </b>+ 91 22  2605 9320 / 4006 0026 &nbsp;&nbsp;
              <b>Telefax :</b> + 91 22  2646 5264 <br> <b>SMS :</b> + 91 98192 86386 <br> <b>Email :</b> <a href="*">navinchandra.upra@gmail.com</a> /
             <a href="*">sealinechs@gmail.com</a> <br> <br> <b>"JAGO MUMBAI" Radio Station :</b> <br> Seahill CHS Ltd. 31/32 Union Park, Khar (West), Mumbai  400 052. (INDIA)                         <br> <b>Tel.: </b>+ 91 22  4266 3000 / 4266 4000 &nbsp;&nbsp;
              <b>Email :</b> <a href="*">upra.jagomumbai@gmail.com</a> <br> <b>Website :</b> <a href="www.uprajagomumbai.com">www.uprajagomumbai.com </a>&nbsp; <b>/</b>&nbsp;
                         <a href="www.jagomumbairadio.com"> www.jagomumbairadio.com</a> <br><br> <b>Contact Person :</b> <br> <span class="names"> Bharati Kakkad - 9820043533 /
             Surekha Kotwani - 9821864894 /
             Nitin Makasare - 9769696562 </span></p>
</div>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
           </td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
  </tr>
  <tr>
    <td class="bot_bg">&nbsp;</td>
  </tr>
</table>


<map name="Map" id="map">
  <area shape="rect" coords="227,15,313,30" href="#" />
</map>

<map name="Map2" id="map2">

  <area shape="rect" coords="2,4,38,25" href="#" />
  <area shape="rect" coords="64,3,104,24" href="#" />
  <area shape="rect" coords="131,3,168,26" href="#" />
  <area shape="rect" coords="194,1,232,27" href="#" />
  <area shape="rect" coords="251,0,311,27" href="#" />
</map>

</body>
</html>